@charset "UTF-8";
@font-face {
  font-family: siskos;
  src: url("../fonts/Candara.ttf"); }
/*------------------Preloader------------------*/
.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*------------------Barra de navegación------------------*/
nav {
  background-color: #fecc00 !important;
  height: 70px !important; }

.siskos-logo {
  height: 60px;
  margin-left: 70px; }

.nav-wrapper ul li {
  border-radius: 5px !important;
  background-color: #ffffff !important;
  color: #fecc00;
  margin-top: 15px;
  margin-right: 20px; }
  .nav-wrapper ul li p {
    margin: 0;
    float: inherit; }

.div-option {
  height: 36px;
  width: 36px;
  margin-right: 0px;
  float: left; }

.icono-silueta {
  height: 20px;
  margin-top: 6px; }

/*------------------Body------------------*/
.myContainer {
  background: url("../../img/serigraphy/serigrafia.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 700px; }

.serigraphy-text-container {
  background-color: rgba(255, 255, 255, 0.6); }
  .serigraphy-text-container p {
    font-family: "siskos";
    margin: 0; }

.serigraphy-subtitle {
  width: 100%;
  background-color: #fecc00;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  margin-top: -45px; }

.serigraphy-title-wrapper-1 {
  margin-top: -40px; }

.serigraphy-title-1 {
  font-size: 2em; }

.serigraphy-title-2 {
  font-size: 9em; }

.serigraphy-text {
  font-size: 2em;
  margin-top: 15px; }

/*------------------Previsualizador------------------*/
.serigraphy-prev-med-and-up {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgba(254, 204, 0, 0.5) !important; }
  .serigraphy-prev-med-and-up a {
    position: absolute;
    bottom: 0;
    border-radius: 20px !important; }
  .serigraphy-prev-med-and-up p {
    color: #ffffff;
    font-size: 2em;
    font-family: siskos;
    margin-top: 0;
    margin-bottom: 0; }
  .serigraphy-prev-med-and-up .btn {
    background-color: #fecc00 !important; }

.prev-up {
  background-color: #fecc00 !important;
  padding-top: 6px;
  border-radius: 10px; }
  .prev-up .btn {
    background-color: #5c201f !important;
    border-radius: 2px !important; }
  .prev-up a {
    position: inherit; }
  .prev-up p {
    font-size: 1em;
    font-family: siskos;
    margin-top: 0;
    color: #5c201f; }

.prev-down {
  background-color: #fecc00 !important;
  border-radius: 10px; }
  .prev-down p {
    color: #5c201f;
    font-size: 1em; }

.shirt {
  width: 100%; }

.location-text {
  font-size: 2em !important; }

.vertical-align {
  margin-top: 2%; }

.vertical-align-button {
  margin-top: 3%; }

.div-image {
  background-image: url("");
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  border-radius: 2px;
  height: 90px;
  width: 100%; }

.choose-color-1 {
  background-color: purple !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-2 {
  background-color: blue !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-3 {
  background-color: yellow !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-4 {
  background-color: orange !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-5 {
  background-color: red !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-6 {
  background-color: green !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-7 {
  background-color: green !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-8 {
  background-color: black !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-9 {
  background-color: white !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-10 {
  background-color: grey !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-11 {
  background-color: pink !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-12 {
  background-color: brown !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-13 {
  background-color: violet !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.choose-color-14 {
  background-color: blue !important;
  height: 20px;
  width: 20px;
  border: solid 1px #000000;
  margin-right: 5px; }

.prev-colors {
  margin-bottom: 2px !important; }

[type="checkbox"] + label:before {
  background-color: #ffffff !important; }

[type="checkbox"]:checked + label:before {
  background-color: transparent !important;
  border-right: 2px solid #ffffff !important;
  border-bottom: 2px solid #ffffff !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.serigraphy-prev-small a {
  bottom: 0;
  border-radius: 20px !important; }
.serigraphy-prev-small .btn {
  background-color: #fecc00 !important; }

/*------------------Footer------------------*/
footer {
  margin-top: 0 !important;
  background-color: #fecc00 !important;
  height: 100%;
  box-sizing: border-box;
  border-top: 2px solid white;
  color: white;
  width: 100%; }
  footer .container li {
    text-align: center;
    cursor: pointer; }
    footer .container li img {
      width: 32px; }

.line-white {
  background-color: white;
  height: 1px; }

/*# sourceMappingURL=style_serigraphy.css.map */
